<!-- 
 ~ Hibernate Search, full-text search for your domain model
 ~
 ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later
 ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
   -->
<hibernate-configuration>
<session-factory>

    <!-- To inform HIBERNATE about the database details -->
       <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
       <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rocket</property>
       <property name="hibernate.connection.username">root</property>
       <property name="hibernate.connection.password">Bts7</property>

    <!-- To inform HIBERNATE to generate the query specific to database engine -->
       <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    
    <!-- To inform HIBERNATE to display the queries generated during execution -->   
       <property name="hibernate.show_sql">true</property>
       
    <!-- To inform HIBERNATE to display the queries in formatted style generated during execution -->  
       <property name="hibernate.format_sql">true</property>
       
    <!-- To inform HIBERNATE whether to create a table or use existing table -->
       <property name="hibernate.hbm2ddl.auto">update</property>
</session-factory>
</hibernate-configuration>